<div class="container">
  <div class="side-nav">
    <h1 class="gradient-text">ANALYTIC CONTÁBIL</h1>
    <ul>
      <li><a href="#"> <app-icons [icon]="'user'"></app-icons> Perfil</a></li>
      <li><a href="#"> <app-icons [icon]="'dashboard'"></app-icons> Dashboard</a></li>
      <li><a href="#"> <app-icons [icon]="'payment'"></app-icons> Pagamentos</a></li>
      <li><a href="#"> <app-icons [icon]="'configs'"></app-icons> Configurações</a></li>

      <h3 class="nav-category-title">Análises Contábeis</h3>

      <li><a href="#"> <app-icons [icon]="'docs'"></app-icons> Análise Notas Omissas</a></li>
      <li><a href="#"> <app-icons [icon]="'docs'"></app-icons> Análise Faturamento</a></li>
      <li><a href="#"> <app-icons [icon]="'docs'"></app-icons> Análise Fronteira</a></li>
      <li><a href="#"> <app-icons [icon]="'docs'"></app-icons> Análise Cadastral de Saída</a></li>
      <li><a href="#"> <app-icons [icon]="'docs'"></app-icons> Análise Operações Próprias</a></li>
    </ul>
  </div>
  <div class="content">
    <app-header></app-header>
    <app-card></app-card>
    <app-omitted></app-omitted>
  </div>
</div>



