.container {
  width: 450px;
  max-width: 90vw;
  border-radius: 30px;
  border: 2px solid rgba(42, 58, 92, 0.71);
  background: linear-gradient(123.64deg, rgba(255, 255, 255, 0) -22.71%, rgba(255, 255, 255, 0.039) 70.04%);
  margin: 0 auto;

  .signup-prompt {
    text-align: center;
    color: gray;
    font-family: 'Plus Jakarta Sans', sans-serif;

    .signup-link {
      font-weight: bold;
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .gradient-text {
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(90deg, #FFFFFF, #808080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
    text-align: center;
  }

  p {
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
  }

  .options {
    display: flex;
    justify-content: space-around;

    .social-icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      border: 2px solid rgba(42, 58, 92, 0.71);
      border-radius: 20px;
      margin: 0 10px;
      background-color: transparent;
    }
  }

  .input-container {
    margin: 20px 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: white;
      font-family: 'Plus Jakarta Sans', sans-serif;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 30px;
      box-sizing: border-box;
    }
  }

}

.switch-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18.5px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 30px;
    transition: .4s;

    &::before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 1px;
      bottom: 0.5px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: #0075FF;
  }

  input:checked + .slider::before {
    transform: translateX(17px);
  }
}

.switch-label {
  margin-left: 10px;
  color: white;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.button-container {
  margin: 20px 15px;

  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #0075FF;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #005bb5;
    }
  }

}


