<div class="container">
  <p class="title">Registra-se com</p>

  <div class="options">
    <div class="social-icon-container">
      <social-media [socialLogo]="'facebook'"></social-media>
    </div>
    <div class="social-icon-container">
      <social-media [socialLogo]="'apple'"></social-media>
    </div>
    <div class="social-icon-container">
      <social-media [socialLogo]="'google'"></social-media>
    </div>
  </div>

  <p class="subtitle">Ou</p>

  <div class="input-container">
    <label for="input1">Nome</label>
    <input type="text" id="input1" placeholder="Seu nome completo" [(ngModel)]="nome"/>
  </div>

  <div class="input-container">
    <label for="input2">Email</label>
    <input type="text" id="input2" placeholder="Seu endereço de email" [(ngModel)]="email"/>
  </div>

  <div class="input-container">
    <label for="input3">Senha</label>
    <input type="text" id="input3" placeholder="Sua senha" [(ngModel)]="senha"/>
  </div>

  <div class="switch-container">
    <label class="switch">
      <input type="checkbox" id="toggleSwitch" />
      <span class="slider"></span>
    </label>
    <label for="toggleSwitch" class="switch-label">Lembrar de mim</label>
  </div>

  <div class="button-container">
    <button>Inscreva-se</button>
  </div>

  <p class="signup-prompt">
    Já tem uma conta? <a [routerLink]="['/login']" href="#" class="signup-link">Entrar</a>.
  </p>

  <h1 class="gradient-text">ANALYTIC CONTÁBIL</h1>
</div>
